# Rename this folder from .env.example to .env then do the following
# First you have to generate a SECRET_KEY
# To generate a SECRET_KEY run the command  python manage.py generate_secret_key  this will generate a secret key and you can copy that secret key then paste it inside the SECRET_KEY like SECRET_KEY=generated secret key
# Put DEBUG=True

# Reference links: 
# https://github.com/DjangoGirls/tutorial/issues/1687
# https://docs.djangoproject.com/en/4.1/howto/deployment/checklist/
# https://pypi.org/project/python-decouple/
# https://blog.gitguardian.com/secrets-api-management/
# https://studygyaan.com/django/how-to-protect-sensitive-data-in-django

SECRET_KEY=
DEBUG=