{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'crud/CSS/registerform.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Registration Form</h3>
      </div>
      <div class="card-body">
        <form action="/valueinsert" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Your Name" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" placeholder="Enter Your Email" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" name="contact" placeholder="Enter Your Number" class="form-control" required autocomplete="off">
          </div>
          <input type="submit" value="Submit" class="btn btn-primary form-control">
        </form>
        {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert" id="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="button d-flex justify-content-center mt-3">
        <a href="viewlist/" class="btn btn-primary">VIEWLIST</a>
      </div>
    </div>
  </div>
</div>

<!-- JQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- JQuery to hide alert automatically -->
<script>
  $(function(){
    setTimeout(function(){
      $("#alert").hide('blind',{}, 500)
    }, 5000);
  });
</script>

{% endblock %}
