{% extends 'base.html' %}

{% block title %}
List
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'crud/CSS/viewlist.css' %}">
{% endblock %}

{% block body %}
{% if value %}
<a href="{% url 'index' %}" class="btn btn-primary">Insert Data</a>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-md-4 offset-md-4 mb-3 mt-3">
        <form action="{% url 'search' %}" method="POST">
          {% csrf_token %}
          <input type="text" name="search" placeholder="Search Id" class="form-control" autocomplete="off">
          <button type="submit" class="btn btn-primary form-control mt-3">SEARCH</button>
        </form>
      </div>
      {% if messages %}
        {% for message in messages %} 
          {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert">
              {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        {% for values in data %}
        <tbody id="mytable">
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{values.id}}</td>
            <td>{{values.name}}</td>
            <td>{{values.email}}</td>
            <td>{{values.contact}}</td>
            <td class="center"><a href="/update/{{values.id}}" class="btn btn-primary">Update</a></td>
            <!-- <td class="center"><a href="/delete?id={{values.id}}" class="btn btn-danger">Delete</a></td> -->
            <td class="center"><a href="/delete/{{values.id}}" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% else %}
<h1 class="text-center">No Data Found</h1>
<p class="text-center"><a href="{% url 'index' %}">Clich Here! to add new data</a></p>

{% endif %}

<!-- JQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- JQuery to hide alert automatically -->
<script>
  $(function(){
    setTimeout(function(){
      $("#alert").hide('blind',{}, 500)
    }, 5000);
  });
</script>

<!-- Search -->
<!-- <script>
  $("document").ready(function(){
    $('#search').keyup(function(){
      var value = $(this).val().toLowerCase()
      $("#mytable tr").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1)
      })
    })
  });
</script> -->

{% endblock %}