{% extends 'base.html' %}

{% block title %}
List
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'crud/CSS/viewlist.css' %}">
{% endblock %}

{% block body %}

<!-- <form action="{% url 'index' %}">
  <input type="submit" value="BACK">
</form> -->
<a href="{% url 'index' %}" class="btn btn-primary">BACK</a>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        {% for values in data %}
        <tbody>
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{values.id}}</td>
            <td>{{values.name}}</td>
            <td>{{values.email}}</td>
            <td>{{values.contact}}</td>
            <td class="center"><a href="/update?id={{listdata.id}}" class="btn btn-primary">Update</a></td>
            <td class="center"><a href="/delete?id={{listdata.id}}" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}